<h1><strong><%=@category.mood%></strong></h1>
  <ul>
  <% @messages.each do |message|%>
    <h2><i><a href="/messages/<%=message.id%>"><%=message.title%></a></i></h2>
    <p><%=message.content%></p>
  <% end%>
  </ul>
</div>
