<h1><strong><%=@category.mood%></strong></h1>

<% if @category.mood == "Happy"%>
  <div class="container" style="background-image: url('http://doge2048.com/meta/doge-600.png')">
<% elsif @category.mood == "Sad"%>
  <div class="container" style="background-image: url('http://rack.0.mshcdn.com/media/ZgkyMDEzLzA3LzIyL2I0L3NhZHB1Zy41YTliNC5naWYKcAl0aHVtYgkxMjAweDYyNyMKZQlqcGc/d77a3554/c20/sad-pug.jpg')">
<%end%>
  <ul>
  <% @messages.each do |message|%>
    <h2><i><a href="/messages/<%=message.id%>"><%=message.title%></a></i></h2>
    <p><%=message.content%></p>
  <% end%>
  </ul>
</div>
