
<div class="container">
<form action="/create_message" method="POST">
  <input type="text" name="title" placeholder="Title">
  <br>
  <textarea type="text" name="content"placeholder="Your text here"></textarea>
  <br>
  <select name="category_id">
    <% @categories.each do |category|%>
    <option value="<%=category.id%>"><%=category.mood%></option>
    <%end%>
  </select>
  <input type="submit" value="create post">
</form>

</div>