<form action="/create_message" method="POST">
  <input type="text" name="title" placeholder="Title">
  <textarea type="text" name="content"placeholder="Your text here"></textarea>
  <select name="category_id">
    <% @categories.each do |category|%>
    <option value="<%=category.id%>"><%=category.mood%></option>
    <%end%>
  </select>
  <input type="submit" value="create post">
</form>
<div class ="options">
  <a href='/logout'> Logout </a>
</div>
