.container {
  background-repeat:no-repeat;
  height:300px;
  width:300px;
  margin:auto;
  background-size:cover;

}

body {
    background-image: url("../images/grey.jpg"); 
}

IMG {
    display: block;
    margin-left: auto;
    margin-right: auto }