body {
    background-image: url("../images/grey.jpg"); 
}

h3 {font-family: cursive, bold;
    font-size: 25px;
    text-align: center;
    color: purple;
}

ul {
	list-style-type: none;
	font-family: cursive,  bold;
}

#container {
	text-align: center;
}

.moods {
	font-family: cursive, bold;
	text-align: center;

}
