<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/user_page.css">
  <!-- <link rel="stylesheet" href="/stylesheets/login.css"> -->
  <link rel="stylesheet" href="/stylesheets/create_message.css">

  <link rel="stylesheet" href="/stylesheets/application.css">

  <title></title>
</head>
<body>
<div id="content">
  <header>
    <% if session[:user_id]%>
      <a href="/messages/random"> Random Message </a> <br>
      <a href="/categories/all"> What's your mood </a>
    <% end%>

  </header>

  <%= yield %>
  <% if session[:user_id]%>
    <div class ="options">
    <a href='/logout'> Logout </a> <br> <a href='/messages/new'>Create Message</a>

    </div>
  <%end%>
</div>
</body>
</html>
