
<div id="container">
	<h1>Talk Anonymous</h1>
	<div id="login">
	  <form action="/login" method="post">
	  <input type="text" name="email" placeholder="email">
	  <input type="password" name="password" placeholder="password">
	  <input type="submit" value="Submit">

	  <a href="/signup">Not a member already? Signup</a>
	</div>

</div>