
<h3> How are you feeling? </h3>

<div class="moods">
  <% @categories.each do |category| %>
  <ul>
    <li><a href="/categories/<%=category.id%>"><%= category.mood %> </li>
  </ul>
  <%end%>
</div>

<div class ="options">
  <a href='/logout'> Logout </a> <br> <a href='/messages/new'>Create Message</a>
</div>
